In [91]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
import itertools
from itertools import combinations
import datetime
from datetime import datetime, timedelta

In [92]:
data = pd.read_csv('data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
238,tt2752758,7000000,36433975,Devil's Due,Allison Miller|Zach Gilford|Sam Anderson|Rober...,Matt Bettinelli-Olpin|Tyler Gillett,The Devil Always Gets His Due,An unexpected pregnancy takes a terrifying tur...,89,Horror,Twentieth Century Fox Film Corporation|Davis E...,1/8/2014,4.5,2014
1015,tt1276104,30000000,47042000,Looper,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,Rian Johnson,"Hunted By Your Future, Haunted By Your Past","In the futuristic action thriller Looper, time...",118,Action|Thriller|Science Fiction,Endgame Entertainment|FilmDistrict|DMG Enterta...,9/26/2012,6.5,2012
1076,tt1433822,17000000,9627492,The Apparition,Ashley Greene|Sebastian Stan|Tom Felton|Julian...,Todd Lincoln,Once You Believe You Die,Plagued by frightening occurrences in their ho...,82,Horror|Thriller,StudioCanal|Dark Castle Entertainment|Warner B...,8/23/2012,4.4,2012
1813,tt0195714,23000000,53302314,Final Destination,Devon Sawa|Ali Larter|Kerr Smith|Tony Todd|Sea...,James Wong,No accidents. No coincidences. No escapes. You...,After a teenager has a terrifying vision of hi...,98,Horror,New Line Cinema|Zide-Perry Productions|Hard Ei...,3/16/2000,6.2,2000
242,tt0417741,250000000,933959197,Harry Potter and the Half-Blood Prince,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...,David Yates,Dark Secrets Revealed,"As Harry begins his sixth year at Hogwarts, he...",153,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,7/7/2009,7.3,2009

In [93]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [57]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']

def time_dt(d_t):
    new_time = datetime.strptime( d_t, '%m/%d/%Y' )
    return new_time

data['release_date_new'] = data.release_date.apply(time_dt)
data['month'] = data.release_date_new.apply(lambda x: x.month)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [58]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [59]:
film_max_budget = data.nlargest(2, 'budget')
display(film_max_budget)
# Искали 2 фильма с самым большим бюджетом. Поскольку бюджеты уже не равны друг другу, то 2-х ответов быть не может.

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_date_new,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11,5
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000,2007-05-19,5

ВАРИАНТ 2

In [60]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [61]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [62]:
long_film = data.nlargest(2, 'runtime')
display(long_film)
# Искали 2 фильма с максимальной продолжительностью. Раз они не равны, в ответ записан только первый

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_date_new,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21,2
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,2003-12-01,12

# 3. Какой из фильмов самый короткий (в минутах)?

In [63]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
short_film = data.nsmallest(2, 'runtime')
display(short_film) # в ответ выбран только фильм из первой строки датасета, поскольку второй фильм длинеее

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_date_new,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,2011-04-13,4
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002,89862682,2002-02-14,2

# 4. Какова средняя длительность фильмов?

In [64]:
answers['4'] = '2. 110'

mean_runtime = data[data.release_year > 0].runtime.mean()
print(round(mean_runtime))

110

# 5. Каково медианное значение длительности фильмов?

In [65]:
answers['5'] = '1. 107'

median_runtime = data[data.release_year > 0].runtime.median()
print(int(median_runtime))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [66]:
answers['6'] = '5. Avatar (tt0499549)'

data[data.profit==data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [67]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

data[data.profit==data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [68]:
answers['8'] = '1. 1478'

number_film_profit = (data['profit'] > 0).sum()
print(number_film_profit)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [69]:
answers['9'] = '4. The Dark Knight (tt0468569)'

max_profit_2008 = data[data.release_year == 2008].profit.max()
data[data.profit == max_profit_2008].original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [70]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

max_damages = data[(data.release_year >= 2012) &  (data.release_year <= 2014)].profit.min()
data[data.profit == max_damages].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [71]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'
data_11 = data.copy()

data_11['genres']=data_11['genres'].apply(lambda x: x.split('|'))
data_11 = data_11.explode('genres')
data_11['genres'].value_counts().index[0]

'Drama'

In [72]:
#ВАРИАНТ 2
data11 = data.copy() 

data_11['genres']=data_11['genres'].apply(lambda x: x.split('|'))
data_11 = data_11.explode('genres')
collections.Counter(data_11['genres']).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [73]:
answers['12'] = '1. Drama'
data_12 = data.copy()

data_12['genres'] = data_12['genres'].str.split('|')
data_12 = data_12.explode('genres')
data_12[data_12['profit'] > 0].groupby('genres')['profit'].count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [74]:
answers['13'] = '5. Peter Jackson'
data_13= data.copy()

data_13['director'] = data_13['director'].str.split('|')
data_13 = data_13.explode('director')
data_13.groupby("director")['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [75]:
answers['14'] = '3. Robert Rodriguez'
data_14 = data.copy()

data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')
data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
data_14[(data_14.genres == 'Action')].director.value_counts().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [76]:
answers['15'] = '3. Chris Hemsworth'
data_15 = data.copy()

data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')
data_15 = data_15[data_15.release_year == 2012]
data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [77]:
answers['16'] = '3. Matt Damon'
av_budget = data.describe()['budget'][1]
data_16= data.copy()

data_16 = data_16[data_16['budget'] > av_budget]
data_16['cast'] = data_16['cast'].apply(lambda x: x.split('|'))
data_16 = data_16.explode('cast')
data_16['cast'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [78]:
answers['17'] = '2. Action'
data_17 = data.copy()

data_17 = data_17[data_17.cast.str.contains('Nicolas Cage')]
collections.Counter(data_17['genres'].str.cat(sep = ',').split('|')).most_common(1)

[('Action', 7)]

# 18. Самый убыточный фильм от Paramount Pictures

In [79]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data_18 = data.copy()

data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')

max_debt = data_18[data_18.production_companies == 'Paramount Pictures'].profit.min()
data_18[data_18.profit == max_debt].original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [80]:
answers['19'] = '5. 2015'

max_revenue_year = data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]
max_revenue_year

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [81]:
answers['20'] = '1. 2014'
data20 = data.copy()

data20['production_companies'] = data20['production_companies'].str.split('|')
data20 = data20.explode('production_companies')

data20 = data20[data20['production_companies'].str.contains('Warner Bros')]
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [82]:
answers['21'] = '4. Сентябрь'
data_21 = data.copy()

data_21['month'].value_counts().index[0]  # возвращает номер месяца по логике: январь - 1, февраль - 2, и т.д.

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [83]:
answers['22'] = '2. 450'
data_22 = data.copy()

months_of_year = tuple()
months_of_year = data_22['month'].value_counts()
summer = months_of_year[6] + months_of_year[7] + months_of_year[8]
summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [84]:
answers['23'] = '5. Peter Jackson'
data_23 = data.copy()

data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23.explode('director')

data_23_gr = data_23[data_23.release_date_new.dt.month.isin([1,2,12])]
data_23_gr.groupby('director')['imdb_id'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [85]:
answers['24'] = '5. Four By Two Productions'
data_24 = data.copy()

data_24['production_companies'] = data_24.production_companies.apply(lambda x:x.split('|'))
data_24 = data_24.explode('production_companies') 
# будет работать корректно и без 2-х предыдущих строк, но включены ради более красивого вывода результатов

data_24['title_len'] = data_24['original_title'].apply(lambda x: len(x))
longest_name = data_24[data_24.title_len == data_24.title_len.max()] 
print(longest_name['production_companies'])

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [86]:
answers['25'] = '3. Midnight Picture Show'

data['production_companies'] = data.production_companies.apply(lambda x:x.split('|'))
data_25 = data.explode('production_companies')

data_25['number_of_words'] = data_25['overview'].apply(lambda x: len(x.split()))
itog = data_25.groupby('production_companies')['number_of_words'].mean().sort_values(ascending=False).index[0]
display(itog)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [87]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

border = np.quantile(data.vote_average, 0.99)
data_26 = data[data.vote_average >= border]
display(data_26.original_title)
# Ответ: первый вариант - Inside Out, The Dark Knight, 12 Years a Slave.  Все они присутствуют в Series

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
import itertools     # повторяю тут, поскольку не всегда срабатывает из предобработки
from itertools import combinations   # повторяю тут, поскольку не всегда срабатывает из предобработки
data_27 = data.copy()

data_27['cast'] = data_27['cast'].apply(lambda x:x.split('|'))
data_27['pairs'] = data_27['cast'].apply(lambda s: list(combinations(s, 2)))
data_27 = data_27.explode('pairs')
collections.Counter(data_27['pairs']).most_common(2)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8)]

# Submission

In [89]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [90]:
# и убедиться что ничего не пропустил)
len(answers)

27